/****************/
/** VARIABELEN **/
/****************/
:root {
    --kroon-kleur: #330099;
    --gezicht-ronding: 50px 50px 40px 40px;
    --huid-kleur: #fff4e6;
    --jurk-kleur: rgb(25, 93, 93);
    --vorm-kleur: red;
    --haar-kleur: #45074b;
}

/*******************/
/** CONTROL PANEL **/
/*******************/

/* Kroon kleur */
main:has(nav label:nth-of-type(1) > input:checked) {
    --kroon-kleur: #cc00ff;
}

/* Vorm gezicht */
main:has(nav label:nth-of-type(2) > input:checked) {
    --gezicht-ronding: 50px 50px 40px 40px; 
}

main:has(nav label:nth-of-type(3) > input:checked) {
    --gezicht-ronding: 20px; 
}

main:has(nav label:nth-of-type(4) > input:checked) {
    --gezicht-ronding: 0px; 
}

main:has(nav label:nth-of-type(5) > input:checked) {
    div[data-naam="bloem-bovenkant"] {
        animation: windmolen 5s linear infinite;
    }
}

@keyframes windmolen {
    100% {
        rotate: 360deg;
    }
}

/*******************/
/** BASIS STYLING **/
/*******************/
body {
    background-color: #9dc1aa;
    margin: 0;
    padding: 50px;
    font-family: sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5em;
    flex-wrap: wrap; 
}

/******************/
/** CONTROL CARD **/
/******************/
nav[data-naam="control-kaart"] {
    width: 400px;  /* Zelfde als de speelkaart! */
    height: 600px; /* Zelfde als de speelkaart! */
    background-color: #fcfcfc;
    border: 12px solid black;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: top center;
}

/* HET BINNENSTE KADER VAN HET CONTROL PANEL */
div[data-naam="control-canvas"] {
    width: 320px;
    height: 510px;
    background-color: #f0f0f0; /* Iets lichter grijs voor leesbaarheid */
    border: 8px solid black;
    position: relative;
    overflow: hidden;
    
    /* Layout voor de knoppen erin */
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    box-sizing: border-box; 
}

/****************/
/** QUEEN CARD **/
/****************/

/* DE KAART (Heeft nu VASTE PIXELS!) */
div[data-naam="kaart"] {
    width: 400px;  /* Vast formaat */
    height: 600px; /* Vast formaat */
    background-color: #fcfcfc;
    border: 12px solid black;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: top center; /* Belangrijk voor het schalen later */
}

/* HET GRIJZE KADER */
div[data-naam="canvas"] {
    width: 320px;
    height: 510px;
    background-color: #d3d3d3;
    border: 8px solid black;
    position: relative;
    overflow: hidden;
}

/****************/
/** ONDERDELEN **/
/****************/

/* HART GROOT */
div[data-naam="hart-groot"] {
    background-color: var(--vorm-kleur);
    width: 80px;
    height: 80px;
    clip-path: shape(
        from 50% 91%,
        line to 90% 50%,
        arc to 50% 9%  of 1%,
        arc to 10% 50% of 1%
    );
    position: absolute;
    top: 66px;   
    left: -35px; 
}

/* DE KROON */
div[data-naam="kroon"] {
    width: 80px;
    height: 61px;
    top: 41px;
    left: 118px;
    background-color: var(--kroon-kleur);
    border-bottom: 4px solid rgb(255, 208, 0);
    position: absolute;
    z-index: 11;
    margin: 0;
    transition: background-color 0.5s ease;
    clip-path: polygon(0% 0%, 20% 100%, 80% 100%, 100% 0%, 75% 40%, 50% 10%, 25% 40%);
}

/* HAAR LINKS */
div[data-naam="haar-links"] {
    position: absolute;
    width: 64px;
    height: 138px;
    clip-path: polygon(69% 17%, 100% 10%, 100% 81%, 87% 78%, 50% 88%, 47% 38%);
    top: 87px;   
    left: 67px;  
    background-color: var(--haar-kleur);
    transform: rotate(1deg);
}

/* HET HOOFD */
div[data-naam="hoofd"] {
    width: 70px;  
    height: 112px; 
    top: 92px;   
    left: 118px;  
    background-color: var(--huid-kleur);
    border: 4px solid black;
    border-radius: var(--gezicht-ronding);
    position: absolute;
    z-index: 10;
    transition: all 0.3s ease;
}

/* HET OOG (Gepositioneerd in het hoofd) */
div[data-naam="oog"] {
    display: block;
    width: 20px;
    height: 10px;
    border-bottom: 3px solid black;
    border-radius: 50%;
    position: absolute;
    top: 28px;  
    right: 14px; 
}

/* WIMPERS (Gepositioneerd in het hoofd) */
div[data-naam="wimper1"] {
    z-index: 100;
    position: absolute;
    background-color: black;
    border-radius: 40%;
    height: 11px;
    width: 2px;
    top: 39px;  
    right: 29px;
    transform: rotate(15deg); 
}

div[data-naam="wimper2"] {
    z-index: 100;
    position: absolute;
    background-color: black;
    border-radius: 40%;
    height: 11px;
    width: 2px;
    top: 39px;  
    right: 25px;
    transform: rotate(9deg); 
}

div[data-naam="wimper3"] {
    z-index: 100;
    position: absolute;
    background-color: black;
    border-radius: 40%;
    height: 11px;
    width: 2px;
    top: 39px;  
    right: 20px;
    transform: rotate(-5deg); 
}

div[data-naam="wimper4"] {
    z-index: 100;
    position: absolute;
    background-color: black;
    border-radius: 40%;
    height: 11px;
    width: 2px;
    top: 38px;  
    right: 16px;
    transform: rotate(-10deg); 
}

/* DE MOND (Gepositioneerd in het hoofd) */
div[data-naam="mond"] {
    display: block;
    width: 12px;
    height: 8px;
    background-color: red;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    bottom: 17px; 
    left: 27px;  
}

/* NEK */
div[data-naam="nek"] {
    position: absolute;
    background-color: var(--huid-kleur);
    border: 4px solid black;
    border-radius: var(--gezicht-ronding);
    height: 56px;
    width: 29px;
    top: 189px;
    left: 141px;
}

/* JURK */
div[data-naam="jurk"] {
    position: absolute;
    width: 160px;
    height: 173px;
    top: 230px;
    left: 80px;
    clip-path: polygon(25% 0%, 75% 0%, 60% 50%, 100% 100%, 0 100%, 40% 50%);
    background-color: var(--jurk-kleur);
}

/* ARMEN */
div[data-naam="bovenarm-links"] {
    position: absolute;
    width: 16px;
    height: 71px;
    top: 230px;
    left: 102px;
    border-radius: 25%;
    background-color: var(--jurk-kleur);
    transform: rotate(27deg);
}

/* Onderarm zit IN bovenarm (vandaar px berekend over 16x71px) */
div[data-naam="onderarm-links"] {
    position: absolute;
    width: 16px;
    height: 57px;
    top: 63px;
    left: 12px;
    transform: rotate(152deg);
    border-radius: 25%;
    border: 2px solid black;
    background-color: var(--huid-kleur);
}

div[data-naam="bovenarm-rechts"] {
    position: absolute;
    width: 16px;
    height: 71px;
    top: 230px;
    left: 189px;
    border-radius: 25%;
    background-color: var(--jurk-kleur);
}

div[data-naam="onderarm-rechts"] {
    position: absolute;
    width: 16px;
    height: 57px;
    top: 33px;
    left: 21px;
    transform: rotate(61deg);
    border-radius: 25%;
    border: 2px solid black;
    background-color: var(--huid-kleur);
}

/* BLOEM */
/* Gepositioneerd relatief aan de onderarm waar hij in zit */
div[data-naam="bloemsteel"] {
    position: absolute;
    width: 5px;
    height: 51px;
    top: -36px;
    left: -15px;
    transform: rotate(123deg);
    border: 2px solid black;
    border-radius: 25%;
    background-color: green;
}

div[data-naam="bloem-bovenkant"] {
    position: absolute; 
    width: 5px;
    height: 5px;
    top: 50px;
    left: 0px;
    transform: scale(2.5); 
}

div[data-naam="bloemblaadjes-groep"] {
    position: absolute;
    width: 5px;
    height: 5px;
    top: 0;
    left: 0;
}

/* BLOEMHART */
div[data-naam="bloemhart"] {
    position: absolute;
    width: 5px;
    height: 5px;
    top: 0;
    left: 0;
    border: 1px solid black;
    border-radius: 100%;
    background-color: yellow;
    z-index: 2; /* Zorg dat het hart voor de blaadjes zit */
}

/* BLOEMBLAADJES */
div[data-naam="bloemblaadjes-groep"] > div {
    position: absolute;
    width: 3px;
    height: 8px;
    border: 0.2px solid black;
    border-radius: 15% 85% 24% 76% / 26% 52% 48% 74%;
}

div[data-naam="bloemblaadje1"] {
    top: 7px; left: -6px;
    background-color: #cc00ff;
    transform: scale(2) rotate(45deg);
}
div[data-naam="bloemblaadje2"] {
    top: 0px; left: -9px;
    background-color: #ff8400;
    transform: scale(2) rotate(100deg);
}
div[data-naam="bloemblaadje3"] {
    top: -7px; left: -8px;
    background-color: #ff0051;
    transform: scale(2) rotate(140deg);
}
div[data-naam="bloemblaadje4"] {
    top: 7px; left: 8px;
    background-color: #bd459f;
    transform: scale(2) rotate(147deg);
}
div[data-naam="bloemblaadje5"] {
    top: -4px; left: 11px;
    background-color: #ff9900;
    transform: scale(2) rotate(82deg);
}
div[data-naam="bloemblaadje6"] {
    top: -10px; left: 3px;
    background-color: #a170e6;
    transform: scale(2) rotate(31deg);
}

/* ========================================= */
/* DE SPIEGELING EN SCHALING VAN DE KAART    */
/* ========================================= */

div[data-naam="helft-boven"],
div[data-naam="helft-onder"] {
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%; 
    overflow: hidden; 
}

div[data-naam="helft-boven"] {
    top: 0;
}

div[data-naam="helft-onder"] {
    bottom: 0;
    transform: rotate(180deg);
}

/* DE MAGISCHE SCHAAL-WRAPPER */
div[data-naam="tekening-schaal"] {
    width: 100%;
    height: 510px;
    position: absolute;
    top: 0;
    left: 24px;
    
    transform-origin: top center;
    transform: scale(0.7); 
}

/* De dikke zwarte scheidslijn precies in het midden */
div[data-naam="middellijn"] {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 8px; 
    background-color: black;
    z-index: 50; 
    transform: translateY(-50%); 
}

/* ========================================= */
/* DE RESPONSIVE MAGIC TRICK                 */
/* ========================================= */

@media (max-width: 800px) {
    div[data-naam="kaart"],
    nav[data-naam="control-kaart"] {
        transform: scale(0.8); 
    }
}

@media (max-width: 500px) {
    div[data-naam="kaart"],
    nav[data-naam="control-kaart"] {
        transform: scale(0.7); 
    }
}

@media (max-width: 380px) {
    div[data-naam="kaart"],
    nav[data-naam="control-kaart"] {
        transform: scale(0.55); 
    }
}